* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
    --text-color: #fff;
    --main-color: #16171a;
    --contrast-color: #7c23be;
    --second-color: #131415;
  }
  body {
    color: var(--text-color);
    background-color: var(--main-color);
  }
  
  #preloader {
    background: #16171a;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .bar {
    width: 10px;
    height: 70px;
    background: var(--main-color);
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: transparent;
    }
    50% {
      transform: scaleY(1);
      background: var(--contrast-color);
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }

  .header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  .logo {
    display: flex;
    height: 80px;
    margin-top: 25px;
    margin-left: 60px;
    cursor: pointer;
  }
  .text-box-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
  }
  
  .logo-text {
    display: flex;
    color: var(--text-color);
    font-weight: 800;
    font-size: 1.2rem;
  }
  
  .logo-text-second {
    margin-top: 3px;
    font-weight: 300;
    font-size: 0.85rem;
  }
  
  nav {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .nav-links {
    display: flex;
    font-size: 16px;
    align-items: center;
  }
  
  .nav-links a {
    color: var(--text-color);
    margin-inline: 10px;
    transition: 0.15s;
  }
  
  .nav-links a:hover {
    color: var(--contrast-color);
  }
  
  .nav-links .active {
    color: var(--contrast-color);
  }
  
  .btn_shop {
    background-color: transparent;
    border: 1px solid var(--contrast-color);
    color: var(--text-color);
    padding-block: 16px;
    padding-inline: 25px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to left, transparent 50%, #ffffff2c 50%) right;
    background-size: 200%;
    transition: 0.35s;
  }
  
  .btn_shop:hover {
    background-position: left;
  }
  
  .ri-menu-line {
    font-size: 35px;
  }
  
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-btn_burger {
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-btn_burger::before {
    transform: translateY(-16px);
  }
  
  .menu-btn_burger::after {
    transform: translateY(16px);
  }
  
  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  
  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  
  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
  .navbar-popup {
    display: none;
    z-index: 999;
  }
  
  .navbar-popup.open {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  
  .navbar-content {
    display: flex;
    flex-direction: column;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
  }
  
  .navbar-content a {
    display: flex;
    color: var(--text-color);
    font-size: 70px;
    font-weight: 800;
  }

  .faq-header {
    display: block;
    margin-top: 40px;
    margin-bottom: 60px;
    opacity: 1;
    filter: blur(3px);
    transform: translateY(-100%);
    transition: 0.5s;
  }

  .header-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 650;
    margin-bottom: 10px;
  }

  .header-description {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--contrast-color);
  }

  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }

  .questions {
    display: flex;
    justify-content: center;
  }

  .faq-box {
    display: flex;
    background-color: var(--second-color);
    padding-block: 10px;
    padding-inline: 20px;
    width: 800px;
    border-radius: 10px;
  }

  .faq-title  {
    font-size: 20px;
    font-weight: 600;
  }

  .btn-more {
    display: flex;
    background-color: transparent;
    padding: 2px;
    border: none;
    cursor: pointer;
  }

  .btn-more i {
    color: var(--text-color);
    font-size: 20px;
  }